<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=620">

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />


		<style>
			/* fix bootstrap issue that blur the canvas */
			canvas{
				box-sizing: content-box;
			}
		</style>

		<script type="text/javascript" src="js/fabric.js"></script>
		<script type="text/javascript" src="js/Eagle-Adapter.js"></script>
		<script type="text/javascript" src="js/util/class.util.js"></script>
		<script type="text/javascript" src="js/mixin/text.mixin.js"></script>
		<script type="text/javascript" src="js/shape/textbox.js"></script>
		<script type="text/javascript" src="js/shape/basic.js"></script>

		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>


		<title>IB</title>
	</head>

	<body ng-app="MyApp">
		<div class="container" ng-controller="ViewModelCtrl">

			<div class="shape-gen" style="margin-top:10px">
				<button type="button" class="btn btn-default" ng-repeat = "shape in shapes"
					ng-click="createShape(shape)" id="{{shape}}">
					{{shape}}
				</button>
			</div>

			<div class="row toolbar" style="margin-top:10px;">
				<div class="col-sm-6">
					<div class="align-text" >
						<button type="button" class="btn btn-default" ng-click="alignText('textHAlign')">
							Align {{getAlign('textHAlign')}}
						</button>
						<button type="button" class="btn btn-default" ng-click="alignText('textVAlign')">
							Align {{getAlign('textVAlign')}}
						</button>
					</div>
					<div class="padding" ng-init="pads=['left','right','top','bottom']" >
						<button type="button" class="btn btn-default" ng-repeat = "pad in pads"
							ng-click="setPad(pad,10)">
							{{pad}}
						</button>
					</div>
				</div>
				<div class="col-sm-6">

				</div>
			</div>

			<canvas id="cvs" style="margin-top:15px; margin-bottom:5px; border: 1px solid grey;"></canvas>



		</div>

		<script>


		</script>

	</body>
</html>
